OPENAI_API_KEY="YOUR_OPENAI_API_KEY"
API_BASE_URL="http://localhost:1026"

# Add if only you want else it will work without TEST_ACCOUNT details   as well
TEST_ACCOUNT_USERNAME="YOUR_TEST_USERNAME"
TEST_ACCOUNT_PASSWORD="YOUR_TEST_PASSWORD"