aiosmtplib==3.0.2
alembic==1.15.2
annotated-types==0.7.0
anthropic==0.66.0
anyio==4.9.0
async-timeout==5.0.1
bcrypt==4.3.0
blinker==1.9.0
cachetools==5.5.2
certifi==2025.4.26
cffi==1.17.1
cfgv==3.4.0
charset-normalizer==3.4.2
class-resolver==0.6.0
click==8.2.0
click-default-group==1.2.4
colorama==0.4.6
colorlog==6.9.0
cryptography==44.0.3
dataclasses-json==0.6.7
dgl==1.1.2
-e git+ssh://git@github.com/the-ahuja-lab/EvoAge-backend.git@377ee2813a6a31b991c3b4c4eee42b06fb9c6595#egg=dglke&subdirectory=dgl-ke/python
distlib==0.3.9
distro==1.9.0
dnspython==2.7.0
docdata==0.0.5
ecdsa==0.19.1
email_validator==2.2.0
fastapi==0.110.3
fastapi-limiter==0.1.6
fastapi-mail==1.4.2
filelock==3.18.0
fsspec==2025.3.2
google-ai-generativelanguage==0.6.15
google-api-core==2.25.1
google-api-python-client==2.181.0
google-auth==2.40.3
google-auth-httplib2==0.2.0
google-generativeai==0.8.5
googleapis-common-protos==1.70.0
greenlet==3.2.2
grpcio==1.74.0
grpcio-status==1.71.2
gunicorn==23.0.0
h11==0.16.0
httpcore==1.0.9
httplib2==0.30.0
httpx==0.28.1
identify==2.6.10
idna==3.10
Jinja2==3.1.6
jiter==0.9.0
joblib==1.5.0
littleutils==0.2.2
Mako==1.3.10
MarkupSafe==3.0.2
marshmallow==3.26.1
more-click==0.1.2
more-itertools==10.7.0
mpmath==1.3.0
mypy_extensions==1.1.0
neo4j==5.28.1
networkx==3.4.2
nodeenv==1.9.1
numpy==2.2.5
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.9.86
nvidia-nvtx-cu12==12.1.105
ogb==1.3.6
openai==1.79.0
optuna==4.3.0
outdated==0.2.2
packaging==25.0
pandas==2.2.3
passlib==1.7.4
Pillow==9.5.0
platformdirs==4.3.8
pre-commit==3.8.0
proto-plus==1.26.1
protobuf==5.29.5
psutil==7.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.22
pydantic==2.11.4
pydantic-settings==2.9.1
pydantic_core==2.33.2
pykeen==1.11.1
pyparsing==3.2.3
pystow==0.7.0
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
python-jose==3.4.0
python-multipart==0.0.9
pytz==2025.2
PyYAML==6.0.2
redis==6.1.0
reportlab==4.4.3
requests==2.32.3
rsa==4.9.1
ruff==0.3.7
scikit-learn==1.6.1
scipy==1.15.3
six==1.17.0
sniffio==1.3.1
SQLAlchemy==2.0.41
starlette==0.37.2
sympy==1.13.1
tabulate==0.9.0
tenacity==9.1.2
threadpoolctl==3.6.0
torch==2.5.1+cu121
torch-max-mem==0.1.4
torch-ppr==0.0.8
tqdm==4.67.1
triton==3.1.0
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.13.2
tzdata==2025.2
uritemplate==4.2.0
urllib3==2.4.0
uvicorn==0.27.1
virtualenv==20.31.2
websockets==15.0.1
wincertstore==0.2
